<a href="https://colab.research.google.com/github/nemuelpalomo/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Fundamentals of Python

In [9]:
if 5 > 2:
  print("Yes!")

Yes!

##Python Comments

In [8]:
#This is a comment

print("Hello Word!")

Hello Word!

##Python Variable

In [10]:
person1 = "Nemuel"

person2 = "Rico"

n = 11

n1,n2,n3 = 1,2,3

print(person1)
print(person2)
print(n)
print(n1)
print(n2)
print(n3)
print(n1,n2,n3)

Nemuel
Rico
11
1
2
3
1 2 3

##Casting

In [12]:
a = 5
a = int(5)
print(a)

<class 'int'>
<class 'float'>

##Type () function

In [14]:
b = 5
b = float(5)

print(type(b))

<class 'float'>

##Double Quotes and Single Quotes

In [15]:
double = "Hello"

single = 'Hello'

print(double, single)

Hello Hello

##Case Sensitive

In [16]:
case = 'Ana'

CASE = 'Robert'

print(case)

print(CASE)

Ana
Robert

##Multiple Variables

In [25]:
#x = "Tony"
x = "Sally"
print(x)

k=l=m = "four"
print(k)
print(l)
print(m)
print(k,l,m)

Sally
four
four
four
four four four

##Output Variables

In [29]:
print('Python programming is fun.')

h = 'entertaining.'
print("Python programming is " + h)

word1 = 'Python Programming is '
word2 = 'enjoying.'

print (word1 + word2)

Python programming is fun.
Python programming is entertaining.
Python Programming is enjoying.

##Arithmetic Operations

In [37]:
c = 2
d = 4

print(c+d)
print(d-c)
print(d*c)
print(int(d/c))
print(d%c)
print(3//2) # 1.50 - floor division
print(d**c)

6
2
8
2
0
1
16

##Assignment Operators

In [40]:
q = 10
q+=5 

print(q) #same as q = q+5, q = 10+5 = 15

15

##Boolean Logic

In [41]:
s = 10
print(s^2)
print(s|2)

8
10

##Comparison Operators

In [45]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

##Logical Operators

In [46]:
s>q and s==s

s>q or s==s

True

##Identity Operators

In [48]:
s is q
print(s is not q)

True

##Bitwise Operator

In [47]:
b = 10 #1010 in binary

print(b>>1) #5
print(b<<1) #20

5
20