<a href="https://colab.research.google.com/github/nemuelpalomo/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [47]:
a = 7
b = 6

print(10 > 9)
print(10 < 9)
print(a > b)

True
False
True

In [ ]:
bool() function

In [5]:
print(bool("Nemuel"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

In [10]:
def my_Function1():
  return True

def my_Function2():
  return False


print(my_Function1())
print(my_Function2())

True
False

In [13]:
if my_Function1:
  print("True")
else:
  print("False")

if my_Function2:
  print("False")
else:
  print("True")

True
False

Application 1

In [16]:
print(a==b)
print(a!=a)

False
False

Python Operators

In [21]:
print(10+5)
print(10-5)
print(int(10/5))
print(10*5)
print(10%5)
print(10//5)
print(10/3)
print(10//3) #10/3 = 3.3333
print(10**2)

15
5
2
50
0
2
3.3333333333333335
3
100

Bitwise Operators

In [23]:
c = 60 #binary 0011 1100
d = 13 #binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<1) #0001 1010
print(d<<2) #0011 0100

61
49
26

Logical Operators

In [26]:
h = True
l = False
h and l
h or l
not(h or l)

False

Application 2

In [41]:
#Python Assignment Operators

x = 100

x += 3 #Same as x = x + 3, x = 100 + 3 = 103
#x -= 3 #Same as x = x - 3
#x *= 3 #Same as x = x * 3
#x /= 3 #Same as x = x / 3
#x %= 3 #Same as x = x % 3

print(x)

103

Identity Operators

In [ ]:
h is l
h is not l

#Control Structure

If Statement

In [48]:
if a > b:
  print("a is greater than b")

a is greater than b

Elif Statement

In [67]:
a = 10
b = 10


if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [68]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If...Else Statement

In [64]:
a = 6
b = 9


print("a is greater than b") if a > b else print("b is greater than a")

b is greater than a

And

In [79]:
if b>a and a==a:
  print("both conditions are True")

both conditions are True

Or

In [69]:
if a<b or b==b:
  print("the condition is True")

the condition is True

Nested If

In [82]:
x = 48

print(x)

if x > 10:
  print("x is above 10")
  if x > 20:
      print("and also above 20")
      if x > 30:
        print('and also above 30')
        if x > 40:
          print("and also above 40")
          if x > 50:
           print("and also above 50")
        else:
          print("but not above 40")

48
x is above 10
and also above 20
and also above 30
and also above 40

In [90]:
week = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday',]
for x in week:
  print(x.title())

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [93]:
# to display Sunday to Wednesday using a For Loop

for x in week:
  print(x.title())
  if x=="wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [94]:
# to display only Wednesday using break statement

for x in week:
  if x =="wednesday":
    break
print(x)

wednesday

While Statement

In [105]:
i = 1
while i < 6:
  print(i)
  i+=1

1
2
3
4
5

Application 3 - Create a python program that displays no. 3 using break statement.

In [106]:
i = 1
while i<6:
  i+=1
  if i==3:
    break
print(i)

3